/*------- COMMON -------*/
body {
    font-family: Arial;
}
.btn {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px 20px
}
.btn_orange {
    background-color: #ff5724;
    border-color: #ff5724;
}
.btn_orange:hover {
    color: rgb(255, 255, 255);
    background-color: #ff7349;
    border-color: #ff7349;
}
.btn_blue {
    background-color: rgb(0, 105, 243);
    border-color: rgb(0, 105, 243);
}
.btn_blue:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 142, 255);
    border-color: rgb(56, 142, 255);
}

/*---------------- HEADER ----------------*/
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 100px;
}
/*------- top header -------*/
.top-header {
    background-color: black;
    padding: 15px;
}
.sony-logo {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid red; */
}
.sony-logo img {
    height: 15px;
}

/*------- bottom header -------*/
.nav-link {
    margin-right: 10px;
    /* font-weight: 500; */
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.dropdown-toggle::after {
    border: none;
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    vertical-align: middle;
}


/*---------------- MAIN ----------------*/
main {
    padding-top: 100px;
}
main section,
footer {
    padding: 40px 20px;
    /* border: 1px solid red; */
}
/* ------- Common hero-sections ------- */
.hero_bkgr{
    background-size: cover;
    background-position: center;
    color: white;
}
.hero_pdng {
    padding-top: 200px;
}
.hero h2 {
    font-size: 35px;   
}
.hero p {
    font-size: 15px;
    margin: 30px 0px;
}
.hero_1 img,
.hero_2 img {
    width: 300px;
    margin: 30px 0px;
}


/* ------- hero-1 section ------- */
.hero_1 {
    background-image: url(../img/jumbo-bg.png);
}

/* ------- hero-option ------- */
.img-option {
    margin: 10px 0px;
    border-radius: 20px;
    padding: 3px;
    border: 4px solid rgba(255, 0, 0, 0);
}
.img-option img {
    width: 100%;
    border-radius: 15px;
}
.img-option:hover {
    border-color: rgb(67, 133, 231);
    cursor: pointer;
    transition: 0.1s;
}

/*------- playstation-5 section -------*/
.playstation_5 {
    align-items: center;
}
.img_ps5 img {
    width: 100%;
}

/*------- components playstation-5 -------*/
.component-ps5 img {
    width: 100%;
}
.component-ps5 {
    /* border-radius: 20px; */
    padding: 10px;
    width: 100%;
    border-bottom: 4px solid rgba(67, 133, 231, 0);
}
.component-ps5:hover {
    border-color: rgb(67, 133, 231);
    transition: 0.1s;
    cursor: pointer;
}

/*------- hero-2 section -------*/
.hero_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/*------- nuove-uscite section -------*/
.new_games {
    background-color: rgb(43, 43, 43);
    color: white;
}
.new_game img {
    width: 100%;
    border-radius: 20px;
}
.new_games p {
    margin: 20px 0px;
}

/*------- playstation-4 section -------*/
.ps4_img img {
    width: 100%;
}

/*------- pass section -------*/
.pass_section {
    background-color: rgb(187, 182, 178);
    /* padding: 0px 150px; */
}
.blue_bckg {
    background-color: rgb(22, 20, 49);
    color: white;
}
.pass_section .row {
    align-items: center;
}  
.PS_plus img, 
.PS_now img {
    width: 50%;
}
.ps_now_img img, 
.plus_img img {
    width: 100%;
}

/*------- sconti section -------*/
.sconti_img img {
    width: 100%;
}

/*------- social section -------*/
.social_box img {
    width: 100%;
}

/*---------------- FOOTER ----------------*/
footer {
    background-color: rgb(2, 74, 168);
    color: white;
}
.nav_footer ul {
    padding: 0px;
}
.nav_footer li {
    list-style: none;
}
.nav_footer a {
    text-decoration: none;
    color: white;
}
.nav_footer a:hover {
    color: lightgrey;
}

.sie_logo img {
    width: 150px;
}


/*---------------- RESPONSIVE ----------------*/
@media screen and (min-width: 1200px) {
    /*---------------- MAIN ----------------*/
    main section,
    footer {
        padding: 80px 150px;
    }
    .pdg-box_options {
        padding: 40px 150px;
    }

    /*------- hero-1 section -------*/
    .hero_pdng {
        padding-top: 300px;
    }
    .hero h2 {
        font-size: 55px;   
    }
    .hero p {
        font-size: 22px;
        margin: 35px 0px;
    }

    /*------- pass section -------*/
    .pass_section {
        padding: 0px 150px;
    }
   }